@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('../img/wallpapersden.com_small-memory_3840x2160.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
.container{
height: 100%;
align-content: center;
}
.card{
height: 370px;
margin-top: 15%;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
box-shadow: 0px 0px 3px #848484;
}
.card-header h3{
color: white;
}
.social_icon{
position: absolute;
/*right: 50%;*/
top: -45px;
}
.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}
input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}
.remember{
color: white;
margin-bottom: 10px;
}
.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}
.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}
.login_btn:hover{
color: black;
background-color: white;
}
.links{
color: white;
}
.links a{
margin-left: 4px;
}
.user-image{
    width: 100px;
    height: 100px;
    margin-top: -30px;
    margin-bottom: 35px;
}
@media screen and (max-width: 576px) {
#tarjeta{
    height: auto;
    margin-top: 25%;
    margin-bottom: auto;
    width: 100% !important;
    background-color: rgba(0,0,0,0.5) !important;
    box-shadow: 0px 0px 3px #848484;
    }
    .login_btn{
        color: black;
        background-color: #FFC312;
        width: 100%;
        }
    .user-image{
        width: 70px;
        height: 70px;
        margin-top: -10px;
        margin-bottom: 25px;
    }

}



